<div class="row">
    <div class="col-md-12">
        <form>
            <table>
                <thead>
                    <tr>
                        <!-- <th><input type="text" name="name" [(ngModel)]="filter.user.first_name" placeholder="Name"></th> -->
                        <th>Name</th>
                        <!-- <th><input type="text" name="surname" [(ngModel)]="filter.user.last_name" placeholder="Surname"></th> -->
                        <th>Surname</th>
                        <th>Birthday</th>
                        <th><input type="text" name="email" [(ngModel)]="filter.email" placeholder="Email"></th>
                        <th><input type="text" name="phone" [(ngModel)]="filter.phone_number" placeholder="Number"></th>
                        <!-- <th><input type="text" name="position" [(ngModel)]="filter.position.name" placeholder="Position"></th> -->
                        <th>Position</th>
                        <!-- <th><input type="text" name="level" [(ngModel)]="filter.position.level" placeholder="Level"></th> -->
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees | employeefilter:filter">
                        <td>{{ employee.user.first_name }}</td>
                        <td>{{ employee.user.last_name }}</td>
                        <td>{{ employee.birth_date }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.phone_number }}</td>
                        <td>{{ employee.position.name }}</td>
                        <td>{{ employee.position.level }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>